------------------INLINE IF



[[!If? &subject=`boo` &operator=`EQ` &operand=`boow` &then=`

<p>Hi how are you?</p>


` &else=`


<p>I don't know You</p>



`]]


------------------INLINE IF









------------------Get Just resource Item


[[getResourceField? &id=`<ID_NUMBER>` &field=`<FIELD NAME> &processTV=`1`]]


------------------Get Just resource Item


