<h4>
	<strong>HOW Interactive Design Conference</strong><br/>
	Chicago<br/><br/>
	&copy; 2013 F+W Media.<br/><br/><br/>
	Designed and developed by<br/>
	<a href="/codify-design-studio" style="font-size:1.2em;">Codify Design Studio</a>
</h4>