<div data-role="footer">
	<div data-role="controlgroup" data-type="horizontal">
		<a data-rel="back" data-role="button" data-inline="true" data-mini="true" data-icon="arrow-l" data-theme="c" href="#">Back</a><a data-role="button" data-inline="true" data-mini="true" data-icon="grid" data-theme="c" href="/agenda">Agenda</a><a data-role="button" data-inline="true" data-mini="true" data-icon="grid" data-theme="c" data-iconpos="right" href="/speakers">Speakers</a>
	</div>
	<div style="margin-top:25px;" data-role="controlgroup" data-type="horizontal">
		<div class="ui-controlgroup-controls">
			<a data-role="button" data-inline="true" data-mini="true" data-icon="home" data-theme="c" href="/">Home</a>
		</div>
	</div>
	[[$Content Copyright?]]
</div>




