<div data-role="footer">
	<div data-role="controlgroup" data-type="horizontal">
		<a data-rel="back" data-role="button" data-inline="true" data-mini="true" data-icon="arrow-l" data-theme="c" href="/">Back</a>
	</div>
	[[$Content Copyright?]]
</div>