[[$jQMobile Page begin?]]
	<div data-role="page" id="sponsors">
		<div data-role="panel" id="panel_main">
			[[Wayfinder? &startId=`0` &outerTpl=`Homepage OuterTpl` &selfClass=`self` &debug=`0` &level=`1` &scheme=`abs` &excludeDocs=`1`]]
			<a data-role="button" data-inline="true" data-mini="true" data-icon="home" data-theme="c" href="/">Home</a>
			<a href="panel_main" data-rel="close">Close panel</a>
		</div>
		<div data-role="header" class="heading">
			[[$Header Back Button?]]
			<h1>Sponsors</h1>
		</div>
		<div data-role="content" class="content">
			<div style="text-align:center;">
				[[getResources? &parents=`59` &includeTVs=`1` &processTVs=`1` &resources=`` &sortby=`menuindex` &sortdir=`asc` &tpl=`Sponsor Link` &limit=`1000`]]
			</div>
		</div>
		[[$Footer-Back?]]
	</div>
[[$jQMobile Page end?]]