[[$jQMobile Page begin?]]
	<div data-role="page" id="home">
		<div data-role="header" class="heading">
		</div>
		<div data-role="content" class="content">
			[[Wayfinder? &startId=`0` &outerTpl=`Homepage OuterTpl` &selfClass=`self` &debug=`0` &level=`1` &scheme=`abs` &excludeDocs=`1`]]
		</div>
		[[$Footer?]]
	</div>
[[$jQMobile Page end?]]