[[$jQMobile Page begin?]]
	<div data-role="page">
		<div data-role="panel" id="panel_main">
			[[Wayfinder? &startId=`0` &outerTpl=`Homepage OuterTpl` &selfClass=`self` &debug=`0` &level=`1` &scheme=`abs` &excludeDocs=`1`]]
			<a data-role="button" data-inline="true" data-mini="true" data-icon="home" data-theme="c" href="/">Home</a>
			<a href="panel_main" data-rel="close">Close panel</a>
		</div>
		<div data-role="header" class="heading">
			[[$Header Back Button?]]
			<h1>[[*pagetitle]]</h1>
		</div>
		<div data-role="content" class="content">
			<h2>[[*longtitle]]</h2>
			[[*Page Content]]
		</div>
		[[$Footer-Back?]]
	</div>
[[$jQMobile Page end?]]