[[$jQMobile Page begin?]]
	<div data-role="page" id="speaker_listing">
		<div data-role="panel" id="panel_main">
			[[Wayfinder? &startId=`0` &outerTpl=`Homepage OuterTpl` &selfClass=`self` &debug=`0` &level=`1` &scheme=`abs` &excludeDocs=`1`]]
			<a data-role="button" data-inline="true" data-mini="true" data-icon="home" data-theme="c" href="/">Home</a>
			<a href="panel_main" data-rel="close">Close panel</a>
		</div>
		<div data-role="header" class="heading">
			[[$Header Back Button?]]
			<h1>Speakers</h1>
		</div>
		<div data-role="content" class="content">
			[[getResources? &parents=`2` &includeTVs=`1` &processTVs=`1` &resources=`` &tpl=`Speaker Button` &sortdirTV=`ASC` &sortbyTV=`Speaker Last Name` &limit=`1000`]]
		</div>
		[[$Footer-Back?]]
	</div>
[[$jQMobile Page end?]]