[[$jQMobile Page begin?]]
	<div data-role="page" id="session_detail">
		<div data-role="panel" id="panel_main">
			[[Wayfinder? &startId=`0` &outerTpl=`Homepage OuterTpl` &selfClass=`self` &debug=`0` &level=`1` &scheme=`abs` &excludeDocs=`1`]]
			<a data-role="button" data-inline="true" data-mini="true" data-icon="home" data-theme="c" href="/">Home</a>
			<a href="panel_main" data-rel="close">Close panel</a>
		</div>
		<div data-role="header" class="heading">
			[[$Header Back Button?]]
			<h1>Session</h1>
		</div>
		<div data-role="content" class="content">
			<h4 class="session_start_date">[[*Session Start Date::strtotime:date=`%A, %B %e`]]</h4>
			<h4 class="session_room">[[!getResources? &parents=`-1` &includeTVs=`1` &processTVs=`1` &resources=`[[*Session Room]]` &tpl=`@INLINE [[+pagetitle]]`]]</h4>
			<h2>[[*pagetitle]]</h2>
			[[!getResources? &parents=`-1` &includeTVs=`1` &processTVs=`1` &resources=`[[*Session Speakers]]` &sortbyTV=`Speaker Last Name` &sortdirTV=`asc` &tpl=`Speaker Button Inline`]]
			[[*Session Description]]
			
			<div
				class="selectable_item"
				data-id="[[*alias]]"
				data-session-title="[[*pagetitle]]"
				data-session-date="[[*Session Start Date::strtotime:date=`%A, %B %e`]]"
				data-session-speaker="[[!getResources? &parents=`-1` &includeTVs=`1` &processTVs=`1` &resources=`[[*Session Speakers]]` &tpl=`@INLINE [[+tv.Speaker First Name]] [[+tv.Speaker Last Name]]` ]]">
				<a class="favorite success add-remove ui-link" href="javascript:void(0)">Add To Favorites</a>
			</div>
			
			[[!getResources? &parents=`-1` &includeTVs=`1` &processTVs=`1` &resources=`[[*Session Room]]` &tpl=`@INLINE <a href="#floorplan2" data-rel="popup" data-position-to="window">[[+pagetitle]]</a><div data-role="popup" data-overlay-theme="a" data-transition="slidedown" class="photopopup" id="floorplan2">[[+tv.Page Content]] <div class="floorplan_popup_caption">[[+pagetitle]]</div><a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a></div>` ]]
		</div>
		[[$Footer-Back-Schedule-Favorites?]]
	</div>
[[$jQMobile Page end?]]