@charset "UTF-8";
/* CSS Document */

body { margin: 0; padding: 0; font-size: 14px; }
p { margin: 0px 0px 1em 0px; }

.clear_fix { clear: both; }

/* Global Page Overrides */
.ui-mobile-viewport {  }
.ui-page { background-color: #73daf8; }
.ui-page.ui-body-c.ui-page-active { background: url(/assets/images/page_tile.gif) repeat 0px 0px; }
.ui-page.ui-body-c.ui-page-active .ui-content { background-color: #fff; }
.ui-page.ui-body-c.ui-page-active .ui-header { height: 90px; background: #000 url(../images/banner_content.jpg) no-repeat right bottom; background-size: 900px 90px; }
.ui-page.ui-body-c.ui-page-active .ui-header h1 { color: #014791; padding: 15px 0px 10px 0px; font-size: 1.5em; text-shadow: none; }
.ui-btn-inner { white-space: normal !important; } /* allows multi-line buttons */
.ui-btn { text-align: left; text-shadow: none; }
.ui-btn-text { font-size: 14px; }
.ui-bar-a.ui-footer { background: #414244; border: none; border-top: 1px solid #6d6e70; padding-top: 10px; }
.ui-bar-a.ui-footer h4.ui-title { font-size: .8em; font-weight: normal; text-align: center; margin: 0px; padding: 20px 30px 45px 30px; text-shadow: none; color: #a6a7a7; }
.ui-bar-a.ui-footer h4.ui-title a { color: #ccc; }
.ui-bar-a.ui-footer .ui-controlgroup-horizontal .ui-controlgroup-controls { width: 100% }
.ui-bar-a.ui-footer .ui-controlgroup-horizontal .ui-controlgroup-controls { text-align: center; }
.ui-bar-a.ui-footer .ui-controlgroup-horizontal .ui-controlgroup-controls a.ui-btn { background-image: none; background-color: #6b6c6e; color: #fff; border-color: #3e3f41; float: none; border-radius: 0; box-shadow: none; }
.ui-bar-a.ui-footer .ui-controlgroup-horizontal .ui-controlgroup-controls a.ui-btn .ui-icon { background-color: #6b6c6e; border-color: #3e3f41; box-shadow: none; border-radius: 0; }
.ui-bar-a.ui-footer .ui-controlgroup-horizontal .ui-controlgroup-controls a.ui-btn:hover { background-color: #008ad0; }
.ui-bar-a.ui-footer .ui-controlgroup-horizontal .ui-controlgroup-controls a.ui-btn:hover .ui-icon { background-color: #008ad0; }

/* Homepage */
#home.ui-page.ui-body-c.ui-page-active .ui-content { background: none; }
#home { padding: 0px 0px 20px 0px; }
#home .heading { height: 155px; background: url(/assets/images/banner_main.jpg) no-repeat center bottom; background-size: 900px 181px; }
#home ul.mainmenu { margin: 0px 20px 0px 20px; padding: 5px 15px 0px 15px; border: none; }
#home ul.mainmenu li { background: none; border: none; }
#home ul.mainmenu li .ui-btn-inner { background: none; border: none; margin: 0px; padding: 0px 0px 10px 0px; }
#home ul.mainmenu li a {
	display: block;
	margin: 0px 2px 0px 2px;
	padding: 5px 20px 5px 20px;
	color: #00ade2;
	border-radius: 0;
	font-weight: bold;
	background: rgba(255,255,255,.95) url(/assets/images/mobile_link_arrow.png) no-repeat right 50%;
	font-size: 1.15em;
	text-shadow: none;
}
#home ul.mainmenu li a:hover { background-color: #bce8f6; }

h1 { font-size: 1.5em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
h5 {
	margin: 30px -15px 10px 0px;
	font-size: 1em;
	background-color: #0089d1;
	color: #fff;
	text-shadow: none;
	padding: 2px 10px 2px 5px;

}

.photo { border: 1px solid #ccc; }
.photo.align_right { float: right; margin: 0px 0px 5px 20px; }
.photo.align_left { float: left; margin: 0px 20px 5px 0px; }

#sponsors .ui-content { padding-left: 5px; padding-right: 5px; }

a.sponsor_logo {
	display: inline-block;
	width: 140px; height: 115px;
	margin: 0px 5px 10px 0px;
	border: 1px solid #ddd;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

a.social {
	display: block;
	margin: 0px 20px 10px 20px;
	padding: 10px 10px 10px 45px;
	background: #ddd no-repeat 15px 8px;
	text-decoration: none;
	width: 200px;
	color: #000 !important;
	border: 1px solid #777;
}
a.social:hover { background-color: #eee; }
a.social.facebook { background-image: url(/assets/images/icon_facebook.png); }
a.social.twitter { background-image: url(/assets/images/icon_twitter.png); }
a.social.pinterest { background-image: url(/assets/images/icon_pinterest.png); }

#social blockquote { margin: 0px 0px 40px 20px; }
#social blockquote p { font-size: 1.1em; margin: 0px; }
#social blockquote p.credit { font-style: italic; text-align: right; color: #999; padding: 5px 20px 0px 0px; }

a.ui-btn { border-radius: 0; box-shadow: none; }
a.ui-btn .ui-icon { border-radius: 0; background-color: #6b6c6e; }


/* Agenda */
#agenda .session_button { margin: 0px 0px 10px 30px; }
#agenda .agenda_button_day {  }
#agenda .agenda_button_day span.agenda_date { font-size: .8em; font-weight: normal; display: inline-block; width: 60px; text-transform: uppercase; }

/* Speakers */
#speaker_listing .speaker_button { margin: 5px 5px 10px 10px; padding: 0px 5px 0px 5px; }

#speaker_detail .session_button { margin: 0px 5px 10px 25px; }
#speaker_detail h2.speaker_name { margin-bottom: 0px; margin-bottom: 0px; }
#speaker_detail p.speaker_title { margin-bottom: 0px; color: #888; font-style: italic; font-size: 1.15em; margin-bottom: -2px; }
#speaker_detail p.speaker_org { color: #888a; font-size: 1.15em; }
#speaker_detail h4.speaker_sessions { border-top: 1px solid #ddd; margin: 40px -15px 20px 0px; padding-top: 2px; }
#speaker_detail .speaker_photo { float: right; margin: 0px 0px 10px 20px; }

/* Sessions */

#sessions .ui-content a.ui-btn, #social .ui-content a.ui-btn { margin: 0px 20px 10px 20px; }

#session_detail .speaker_button { margin: -5px 0px 20px -3px; }
#session_detail h4.session_start_date { margin: 10px 0px 10px 0px; font-weight: normal; }
#session_detail h4.session_room { margin: 0px 0px 10px 0px; text-transform: uppercase; letter-spacing: 1px; color: #777; font-size: .8em; }
#session_detail h2 { margin: 0px 0px 25px 0px; }

.session { margin-left: 30px; }
.session .ui-btn-text span.speaker, .speaker { font-size: .9em; font-weight: normal; color: #888; }

a.session.favorite span.ui-btn-inner { background: url(/assets/images/favorite_star.png) no-repeat 12px 40%; padding-left: 45px; }




/* Session Buttons */
span.session_button_date { display: block; font-weight: normal; color:#777; margin: 0px 0px 4px 0px; }
span.session_button_date .month { font-size: .85em; text-transform: uppercase; padding-right: 5px; }
span.session_button_date .time { font-size: .85em; }
span.session_button_title {  }
span.session_button_speaker { display: block; font-weight:normal; color:#777; }

#agenda span.session_button_date { display: none; }
#speaker_detail span.session_button_speaker { display: none; }

/* /Session Buttons */


.selectable_item a.favorite {
	color: #000 !important;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8em;
	display: inline-block;
	margin: 12px 0px 12px 0px;
	padding: 7px 15px 7px 28px;
	border: 1px solid #ddd;
	border-radius: 12px;
	background: url(/assets/images/favorite_star.png) no-repeat 6px 3px;
	background-size: 18px 18px;
}
.selectable_item a.favorite.alert {
	background: url(/assets/images/remove.png) no-repeat 6px 1px;
	background-size: 22px 22px;
}

.fav_list_item { margin: 0px 0px 25px 0px; }
.fav_list_item a.session {
/* 	width: 70%; */
/* 	float: left; */
}
.fav_list_item a.session .ui-btn-inner {
	padding-left: 40px;
	background: url(/assets/images/favorite_star.png) no-repeat 6px 3px;
}

.fav_list_item a.remove {
	display: inline-block;
	float: right;
	color: #000 !important;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8em;
	font-weight: bold;
	display: inline-block;
	margin: 0px 0px 12px 0px;
	padding: 7px 15px 7px 28px;
	border: 1px solid #ddd;
	border-radius: 12px;
	background: url(/assets/images/remove.png) no-repeat 6px 3px;
	background-size: 18px 18px;
}

.floorplan_popup_caption { text-align: center; padding: 10px 0px 10px 0px; color: #000; font-weight: bold; font-size: 1.2em; }


.ui-bar-a.ui-header a.ui-btn { width: 40px; margin: 20px 0px 0px 15px; background-image: none; background-color: #8ec63f; color: #fff; border-color: #8ec63f; float: none; border-radius: 0; box-shadow: none; }
.ui-bar-a.ui-header a.ui-btn .ui-icon { background-color: #8ec63f; border: none; box-shadow: none; }
.ui-bar-a.ui-header a.ui-btn:hover { background-color: #0ca048; }
.ui-bar-a.ui-header a.ui-btn:hover .ui-icon { background-color: #0ca048; }



